.main {
    width: calc(100% - 30px);
    padding: 0 15px;
}

.wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

.body {
    width: 100%;
}

.resultContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color-gray-2);
}
.resultContainer:last-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: none;
}

.resultContainer > div {
    padding: 10px 5px;
    font-size: 0.9rem;
    color: var(--color-primary-green);
}

.resultContainer .username {
    width: calc(70% - 10px);
    font-weight: bold;
}

.resultContainer .score {
    width: calc(30% - 10px);
    text-align: right;
}

.noResults {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: var(--color-gray-1);
    color: var(--color-gray-8);
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.loading {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #b5ffd2 8%, #57c798 18%, #b5ffd2 33%);
    background-size: 1000px 104px;
    height: 2px;
    position: relative;
    overflow: hidden;
}